#box1{
    width: 200px;
    height: 200px;
    background-color: red;
    font-size: 20px;
}
#box2{
    width: 100px;
    height: 50%;
    background-color: blue;
    font-size: 2em; /* 2 times the size of the parent element's font size */
}

.box{
    height:100px;
    width: 100px;
    background-color: green;
    border: 2px solid black;
    display: inline-block;
}

#b1{
    position: relative;
    top: 20px;
    left: 20px;
    background-image: url(photo.jpg);
    background-size: cover;
}

#b2{
    position: absolute;
    top: 1px;
    left: 50px;
}
