# Visual Studio
.vs/
*.user
*.suo
*.userprefs

# Build results
[Dd]ebug/
[Rr]Elease/
x64/
x86/
bin/
obj/

# NuGet Packages
packages/
*.nupkg

# Others
*.log
*.tmp

# my own
bin/
obj/
.vs/
.vscode/

*.user
*.rsuser
*.suo

*.log

.DS_Store
Thumbs.db